/* FLIP CARD */
.flip-card {
   position: relative;
   perspective: 500px;
}

.flip-card .content {
   position: absolute;
   width: 100%;
   height: 100%;
   transition: transform 1s;
   transform-style: preserve-3d;
}

.flip-card:hover .content {
   transform: rotateY(180deg);
   transition: transform 0.5s;
}

.flip-card .front,
.flip-card .back {
   position: absolute;
   height: 100%;
   width: 100%;
   backface-visibility: hidden;
}

.flip-card .back {
   transform: rotateY(180deg);
}
